* {
  margin: 0;
  padding: 0;
}

html, body {
height: 100%;
width: 100%;
overflow-x: hidden;
}

body {
line-height: 1.6;
font-family: -apple-system-font, "Helvetica Neue", sans-serif;
background-color: #fbf9fe;
}

.container, .page {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.page {
overflow-y: auto;
/* 上下划动如丝般顺滑 */
-webkit-overflow-scrolling: touch;
z-index: 1;
}
/* 通用样式  框架样式  业务样式 */
.page__hd {
padding: 40px;
}
.page__title {
text-align: left;
font-size: 20px;
font-weight: 400;
}
.page__desc {
margin-top: 5px;
color: #888;
text-align: left;
font-size: 14px;
}


