/* author: ltt
data: 17-11-28 */
.weui-grids {
    position: relative;
    overflow: hidden;
}
/* 用于做上边的边界 */
.weui-grids:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid red;
    /* 1px 问题 retina 手机 1px 粗 ，没有0.5像素  最小只有1像素 */
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    /* 压缩的原点，左上角不动，要让线条在Y轴压缩，只能从下往上压 */
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
/* 用作下边界 */
.weui-grid:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid red;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 100%, 100%;
    transform-origin: 100%, 100%;
}
.weui-grid {
    /* 给before和after定位到右边框和下边框 */
    position: relative;
    float: left;
    padding: 20px 10px;
    width: 33.33333333%;
    /* 能让3n的盒子上去了
    box-sizing会改变盒子模型 */
    box-sizing: border-box;
}
.weui-grid:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    border-right: 1px solid #d9d9d9;
    -webkit-ransform: scaleX(0.5);
    transform: scaleX(0.5);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
.weui-grid:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 1px solid #d9d9d9;
    -webkit-ransform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}