* {
  margin: 0;
  padding: 0;
}
*, *:before,*:after {
  box-sizing: border-box;
}
body, html {
  height: 100vh;
  min-width: 10rem;
  background: 0 0;
}
body {
  min-height: 100%;
  background:url(http://gw.alicdn.com/mt/TB1.sknLXXXXXbEXpXXXXXXXXXX-750-1333.png) no-repeat;
  background-size:10rem 100%;
}