.tqb-date-picker
    .tqb-dp-header
        
        h3
            text-align center
            font-size 1.2rem
            font-weight normal
            margin 0
            line-height header-height - 1px