html{
    font-size: 10px;
    background: url(./images/bg.jpg);
    /* css3 背景 */
    /* 多屏时代 PC 手机 ipad 访问同一个资源
    一张图片在不同的设备上怎么做背景？
    盒子的大小和图片的关系*/
    /* 等比例放大和缩小图片，填充满整个容器，
    超过的地方（容器和图片不等比）剪裁掉
    背景填充满，最重要的图片部分显示出来。 */
    background-size: cover;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys{
    /* PC mobile ipad 物联网如何屏 */
    display: flex;
    /* vh 相对单位 ，相对视窗
    100 vh  占据整个容器*/
    min-height: 100vh;
    /* 专属于弹性布局的纵轴对齐方式 */
    align-items: center;
    /* 专属于弹性布局的主（横）轴对齐方式 */
    justify-content: center;
}

.key {
    color: #ffffff;
    text-align: center;
    width: 10rem;
    border: .4rem solid #000;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    /* css 效果过度动画 */
    transition: all .07s ease;
}
.key div {
    font-size: 4rem;
}
.sound {
    font-style: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
    box-shadow: 0 0 .5rem black;
}
.playing{
    /* 变形样式 transform转换 元素可以移动，缩放，旋转 */
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}