/* 还原设计稿 */
html {
    font-size: 10px;
    background: url(./images/bg.jpg);
    /* css3 背景*/

    /* 
    多屏时代 电脑 手机 iPad 访问同一个资源
    一张图片在不同的设备上 如何做背景？
    背景：是盒子大小和图片的关系
    盒子：元素 有width height
    等比例放大或缩小图片 填充满整个容器
    超过的地方（不等比）进行剪裁，使完全重合
    显示最重要的部分
    background-size：cover；
    背景完全填充盒子
     */
    background-size: cover;
}
body, html {
    margin: 0;/*css reset*/
    padding: 0;
    font-family: sans-serif;
}
.keys {
    /* PC mobile pad 物联网设备（任何屏） */
    /* 弹性布局 */
    display: flex;
    /* 
    vh 是相对单位，  相对于视窗
    100 vh
     */
    min-height: 100vh;
    /* 专属弹性布局的纵轴(y)对齐方式*/
    align-items: center;
    /* 专属弹性布局的横轴(x)对齐方式*/
    justify-content: center;
    /* 
    绝对居中 ：
    align-items: center;
    justify-content: center;
    */
}
/*
    rem 相对单位
    px 在多端时代行不通
    手机的密度是不同的 retina
    px 不可靠了
    rem 相对 html 的 font-size 进行等比例计算
    html是网页的根
    通过参照物等比例设置
*/
.key {
    color: #ffffff;
    text-align: center;
    width: 10rem;
    border: .4rem solid #000;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    /* css 效果过渡动画 */
    transition: all .07s ease;
}

.key div {
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    /* 小写字母变成大写字母 */
    text-transform: uppercase;
    letter-spacing: .1rem;
    color:#ffc600;
    box-shadow: 0 0 .5rem black;
}

.playing {
    /* 
        转换样式：transform 转换、移动、缩放、旋转
     */
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}