html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}
.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    /* 超出则隐藏
    html5 仿app */
    overflow: hidden;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    width: 110%;
    margin: -5%;
    /* 110%中心店与 100% 重合
    背景图片比较大
    有利于中心图片区域的展示 */
    background: #a0a0a0 center;
    background-size: cover;
    z-index: -1;
    /* 过滤器 */
    -webkit-filter: blur(20px);
    /* background-image: url(http://p1.music.126.net/d2qORjtkjzNLzQLtAPLAEA==/2945591653332384.jpg); */
}
.bg-cover{
    background: rgba(0, 0,0,.4);
    width: 100%;
    height: 100%;
}
.title{
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    z-index: 11;
    background-color: rgba(253, 253, 253, .05)
}
.title.music-info{
    padding: 0 20px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}
.music-info .song, .artist{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 18px;
    font-weight: lighter;
    margin: 8px;
    /* 文件换行的 空白符 awesome */
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.music-info .artist{
    font-size: 14px;
    color: #c8c0cc;
    margin-top: 4px;

}
.play-board{
    position: absolute;
    overflow: hidden;
    top: 10%;
    width: 100%;
    height: 90%;
    color: #ffffff;
}
.play-needle{
    position: absolute;
    top: -23px;
    left: 50%;
    margin: 0 -12px;
    z-index: 10;
    width: 100px;
    -webkit-transition: transform .4s;
    transition: transform .4s;
    -webkit-transform-origin: 20px 20px;
    transform-origin: 20px 20px;
}
.disk-bg{
    width: 282px;
    height: 282px;
    position: absolute;
    left: 50%;
    top: 64px;
    margin-left: -141px;
    border-radius: 141px;
    background-color: rgba(251,251,251,0.08);
}
.disk-cover{
    width: 280px;
    height: 280px;
    position: absolute;
    left: 50%;
    top: 65px;
    margin-left: -140px;
}
.disk-cover img{
    display: block;
    width: 100%;
}
.disk-cover .album{
    width: 68%;
    margin: 16%;
}
.disk-cover .disk-border{
    position: absolute;
    top: 0;
}
.pause-needle{
    -webkit-transform: rotateZ(-25deg);
    transform: rotateZ(-25deg);
}
.resume-needle{
    -webkit-transform:  rotateZ(0deg);
    transform:  rotateZ(0deg);
}
.disk-cover-animation{
    -webkit-animation: rotate-disk 20s infinite linear;
    animation: rotate-disk 20s infinite linear;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
@-webkit-keyframes rotate-disk{
    100%{
        transform: rotateZ(360deg);
    }
}
@keyframes rotate-disk{
    100%{
        transform: rotateZ(360deg);
    }
}
#player {
    display: none;
}

.c-btn {
    background-position: center;
    display: inline-block;
    -webkit-filter: brightness(0.9);
}

.c-btn:hover {
    -webkit-filter: brightness(1);
}

.process {
    width: 350px;
    height: 50px;
    position: absolute;
    bottom: 100px;
    margin: 0px -175px;
    left: 50%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;

}

.process .process-bar {
    position: absolute;
    left: 36px;
    width: 280px;
    margin-top: 5px;
    background-color: #615D5C;
}

.process-bar .rdy {
    background-color: #B1ADAC;
    height: 2px;

}

.process-bar .cur {
    background-color: #FB0D0D;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

.cur .process-btn {
    cursor: pointer;
    background-image: url(resource/images/process_btn.png);
    background-size: cover;
    position: absolute;
    top: -9px;
    right: -13px;
    width: 22px;
    height: 22px;
    margin-left: -11px;
}

.process > span:first-child {
    position: absolute;
    left: 0px;
}

.process > span:last-child {
    position: absolute;
    right: 0px;
}

.control {
    position: absolute;
    text-align: center;
    width: 350px;
    bottom: 10px;
    left: 50%;
    margin: 0px -175px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.control .c-btn {
    cursor: pointer;
    background-position:center;
    background-size: contain;
    width: 50px;
    height: 50px;
}

.control .c-btn.pre {
    background-image: url(resource/images/play_btn_prev.png);
}

.control .c-btn.play, .c-btn.pause {
    width: 70px;
    height: 70px;
}

.control .c-btn.play {
    background-image: url(resource/images/play_rdi_btn_play.png);
}

.control .c-btn.pause {
    background-image: url(resource/images/play_rdi_btn_pause.png);
}

.control .c-btn.next {
    background-image: url(resource/images/play_btn_next.png);
}

.control .c-btn.list-btn,.control .c-btn.loop-btn {
    width: 32px;
    height: 32px;
}

.control .c-btn.list-btn{
    background-image: url(resource/images/play_icn_src.png);
}

.control .c-btn.loop-btn {
    position: relative;
    background-image: url(resource/images/play_icn_loop.png);
}
