html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* 超出则隐藏
    html5 仿app */
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    width: 110%;
    margin: -5%;
    /* 中心点与100%body重合
    背景图片比较大有利于中心图片区域的展示 */
    background-size: cover;
    background: #a0a0a0 center;
    z-index: -1;
    /* 使其位于其他元素下面 */
    -webkit-filter: blur(20px);
    /* 过滤器 模糊感 */
    /* background-image: url(http://p1.music.126.net/d2qORjtkjzNLzQLtAPLAEA==/2945591653332384.jpg); */
}
.bg-cover{
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}
.title{
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    z-index: 11;
    background-color: rgba(253, 253, 253, 0.05);
}
.title.music-info{
    padding: 0 20px;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}
.music-info.song.artist{
    width: 100%;
    font-size: 18px;
    font-weight: lighter;
    margin: 8px;
    /* white-space是文字换行的，是空白符 awesome */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 文字超出负容时打三个点 */
}
.music-info.artist{
    font-size: 14px;
    color: #c8c0cc;
    margin-top: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
